<div id="createExpt">
    <div class="wrapper">
        <main>
            <form [formGroup]="formCreateExpt" (submit)="onSubmit()">
                <div>
                    <label for="title">Titel</label>
                    <input type="text" name="title" formControlName="title">

                    <label for="desc">Beskrivning</label>
                    <input type="text" name="desc" formControlName="desc">

                    <label for="materials">Material</label>
                    <input type="text" name="materials" formControlName="materials">

                    <label for="instructions">instruktioner</label>
                    <input type="text" name="instructions" formControlName="instructions">
                    
                    <input type="checkbox" id="Kemi" name="Kemi" (click)="onCheckBoxChange($event)">
                    <label for="Kemi">Kemi</label><br>   
                    
                    <input type="checkbox" id="Fysik" name="Fysik" (click)="onCheckBoxChange($event)">                    
                    <label for="Fysik">Fysik</label><br>
                    
                    <input type="checkbox" id="Mekanik" name="Mekanik" (click)="onCheckBoxChange($event)">
                    <label for="Mekanik">Mekanik</label>

                    <input type="file" id="fileinput" name="img" class="file" (change)="onFileChange($event)">
                    <button type="submit" [disabled]="!formCreateExpt.valid">Skapa inlägg</button>
                </div>
            </form>
        </main>
    </div>
</div>