<div id="home">
    <div class="wrapper">
        <main>
            <div>

                <article *ngFor="let experiment of experiments" (click)="articleId(experiment.id)">
            <p><b>id: </b>{{experiment.id}}</p>
            <p><b>AnvändarId </b>{{experiment.userId}}</p>
            <p><b>Användarnamn: </b>{{experiment.name}}</p>
            <p><b>Titel: </b> <br>{{experiment.title}}</p>

            <p><b>Kategorier: </b></p>
            <section class="category" *ngFor="let category of experiment.categories">
                <p>{{category.category}}</p>
            </section>
            
            <p><b>Beskrivning: </b> <br>{{experiment.desc}}</p>
            <p><b>Material: </b> <br>{{experiment.materials}}</p>
            <p><b>Intrusktioner: </b> <br> {{experiment.instructions}}</p>
            <p>👍 {{experiment.likeCount}}</p>
        </article>
                    
        </div>
    </main>
    </div>
    
</div>
