$darkgreen: #92AA83;
$lightgreen: #E0EDC5;
$yellow: #E7F59E;
$black: #000;
$white: #FFF;

@import url('https://fonts.googleapis.com/css2?family=Honk&family=Rubik+Glitch+Pop&display=swap');
.rubik-glitch pop-regular {
  font-family: "Rubik Glitch Pop", system-ui;
  font-weight: 400;
  font-style: normal;
}
@import url('https://fonts.googleapis.com/css2?family=Honk&display=swap');
.honk honk-regular {
  font-family: "Honk", system-ui;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "MORF" 15,
    "SHLN" 50;
}

.App {
  font-family: "Rubik Glitch Pop", system-ui;
  h1, h2, h3, a{
    font-family: "Honk", system-ui;
  }


  button {
    padding: 12px 24px;
    background-color: $yellow;
    color: $black;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s;

    &:hover {
      background-color: $lightgreen;
    }
  }

  button[type="logout"]{
    margin-left:2vw;
  }

  footer {
    position: fixed;
    width: 100%;
    text-align: center;
    bottom: 0;
    height: 50px;
    background-color: $yellow;
  }


  
  .auth-container{
    h2{
      padding-left:3vw;
    }
  }
    .form-container {
      margin: 20px;
      padding: 20px;
      border: 1px solid $darkgreen;
      border-radius: 10px;
  
      h2{
        margin-left:1vw;
      }
  
      div {
        margin-bottom: 20px;
  
        label {
          display: block;
          margin-bottom: 10px;
          font-weight: bold;
        }
  
        input[type="text"],
        input[type="password"],
        textarea {
          width: 99%;
          padding: 12px;
          border: 1px solid $darkgreen;
          border-radius: 8px;
          font-size: 16px;
          transition: border-color 0.3s;
  
          &:focus {
            border-color: $yellow;
            outline: none;
          }
        }
  
        textarea {
          resize: vertical;
        }
  
        label:not(:first-child) {
          margin-top: 20px;
        }
  
        .checkbox-label {
          display: block;
          margin-top: 10px;
        }
      }
    }
  

  nav {
    background-color: $darkgreen;
    
    .titleContainer {
      margin-bottom: 20px;
      img {
        width: 70px;
        height: 70px;
        border-radius: 50%;
      }
    }
    .NavlinkContainer{
      padding-bottom: 15px;
      border-bottom:1px solid $black;
    }

    ul {
      list-style: none;
      padding: 0;
      margin: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      

      li {
        margin: 0 20px;

        a {
          text-decoration: none;
          color: $darkgreen;
          font-size: 18px;
          font-weight: bold;
          transition: color 0.3s ease;

          &:hover {
            color: $lightgreen;
          }

          &.active {
            color: $white;
            border: 2px solid $black;
            padding: 8px 16px;
            border-radius: 20px;
            background-color: $lightgreen;
          }
        }
      }
    }
  }

  .articles-wrapper {
    main {
      margin-top: 40px;
      padding: 30px;
      background-color: $white;
      border-radius: 20px;
      box-shadow: 0 0 20px rgba($black, 0.1);

      img {
        display: block;
        margin: 0 auto;
        width: 70%;
        border-radius: 10px;
        margin-bottom: 20px;
      }

      .experimentContainer {
        cursor: pointer;
        margin-bottom: 30px;
        padding: 30px;
        background-color: $white;
        border-radius: 20px;
        box-shadow: 0 0 10px rgba($black, 0.1);

        h3 {
          margin-bottom: 20px;
          font-size: 24px;
          color: $darkgreen;
        }

        h4 {
          margin-top: 25px;
          margin-bottom: 10px;
          font-size: 20px;
          color: $darkgreen;
        }

        ul {
          margin-left: 30px;
          font-size: 16px;
          color: $black;
        }
      }
    }
  }

  .singleExperimentContainer {
    padding: 30px;
    border: 2px solid $darkgreen;
    border-radius: 20px;
    margin-bottom: 30px;

    .commentSubmitBtn {
      margin-left: 10px;
      padding: 8px 16px;
      background-color: $yellow;
      color: $black;
      border: none;
      border-radius: 10px;
      cursor: pointer;
      transition: background-color 0.3s;

      &:hover {
        background-color: $lightgreen;
      }
    }

    article {
      h3 {
        margin-bottom: 20px;
        font-size: 28px;
        color: $darkgreen;
      }

      h4 {
        margin-bottom: 10px;
        font-size: 24px;
        color: $darkgreen;
      }

      ul {
        margin-bottom: 20px;

        li {
          list-style: none;
          margin-left: 0;
          margin-bottom: 10px;
          font-size: 18px;
          color: $black;
        }
      }

      p {
        margin-bottom: 20px;
        font-size: 18px;
        color: $black;
      }

      section {
        margin-bottom: 20px;
        border-top: 2px solid $darkgreen;
        padding-top: 20px;

        p {
          margin-bottom: 10px;
          font-size: 16px;
          line-height: 1.4;
          color: $black;
        }
      }
    }
  }

  .experimentsContainer {
    max-width: 900px;
    margin: 0 auto;
  }
}

@media only screen and (max-width: 600px) {
  .form-wrapper form div {
    display: flex;
    flex-direction: column;

    label {
      margin-bottom: 10px;
    }

    input[type="text"],
    textarea {
      width: 98%;
      margin-bottom: 10px;
    }
  }
}
